<div class="top">
<h1>welcom to Bookers!!</h1>
<p>in bookers,</p>
<br />
<p>you can share and exhange your opinions , inpressions , and emotions</p>
<br />
<p>about various books</p>
<div class="top-nav">
 <%= link_to "Log in", new_user_session_path %>
 <%= link_to "Sign Up", new_user_registration_path %>
</div>
</div>